<?xml version="1.0" encoding="UTF-8"?>
<!--Please refer to the following document guide#http://logging.apache.org/log4j/2.x/manual/layouts.html#XMLLayout-->
<Configuration debug="off" status="trace" strict="true" monitorInterval="1800" schema="Log4J-V2.7.xsd">
    <Properties>
        <Property name="logPath">target/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %C{36}#%M():%L  - %m%xEx{full}%n"/>
        </Console>
        <File name="Debug" fileName="${logPath}/app/debug.log" append="false">
            <Filters>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %C{36}#%M():%L - %m%xEx{full}%n"/>
        </File>
        <File name="Information" fileName="${logPath}/app/info.log" append="false">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %C{36}#%M():%L - %m%xEx{full}%n"/>
        </File>
        <File name="Error" fileName="${logPath}/app/error.log" append="false">
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss z} [%t] %-5level %C{36}#%M():%L - %m%xEx{full}%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="edu.mit.lab" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Debug"/>
            <AppenderRef ref="Information"/>
            <AppenderRef ref="Error"/>
        </Logger>
        <Root level="Info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>