<?xml version="1.0" encoding="UTF-8"?>
<server description="Liberty 2016.11.0.1">
  <!-- Enable features -->
  <featureManager>
    <feature>webProfile-7.0</feature>
    <feature>adminCenter-1.0</feature>
    <feature>restConnector-2.0</feature>
    <feature>jaxws-2.2</feature>
    <feature>jdbc-4.1</feature>
    <feature>jsp-2.3</feature>
    <feature>managedBeans-1.0</feature>
    <feature>servlet-3.1</feature>
    <!-- The following features are new and in beta! -->
    <feature>bluemixLogCollector-1.1</feature>
    <feature>logstashCollector-1.1</feature>
    <feature>hybridConnect-1.0</feature>
    <feature>audit-1.0</feature>
    <!--  The following features are already available and have beta enhancements to them -->
    <feature>batchManagement-1.0</feature>
    <feature>bluemixUtility-1.0</feature>
    <!-- The followig feature is to enable local connector -->
    <feature>localConnector-1.0</feature>
    <feature>ssl-1.0</feature>
  </featureManager>
  <!-- This template enables security necessary for Admin Center and some beta features.
         To get the full use of all the capabilities, a keystore and user registry are required. -->
  <!-- For the keystore, default keys are generated and stored in a keystore.
         To provide the keystore password, generate an encoded password using
         bin/securityUtility encode and add it below in the password attribute
         of the keyStore element. Then uncomment the keyStore element. -->
  <!--
    <keyStore password=""/> 
    -->
  <!--Configure a basic user registry using the basicRegistry element.
        Specify your own user name below in the name attribute of the user element.
        For the password, generate an encoded password using bin/securityUtility encode
        and add it in the password attribute of the user element. -->
  <!-- Define the host name for use by the collective.
        If the host name needs to be changed, the server should be
        removed from the collective and re-joined. -->
  <variable name="defaultHostName" value="localhost" />
  <!-- Define an Administrator and non-Administrator -->
  <basicRegistry id="basic">
    <user name="Admin" password="Kewill123" />
    <user name="General" password="123456" />
  </basicRegistry>
  <!-- Assign 'admin' to Administrator -->
  <administrator-role>
    <user>Admin</user>
  </administrator-role>
  <!-- To access this server from a remote client add a host attribute to the
         httpEndpoint element, e.g. host="*" -->
  <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" />
  <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true" />
  <applicationMonitor updateTrigger="mbean" />
  <!-- This is sample configuration for the bluemixLogCollector-1.1 feature -->
  <!-- 
    <keyStore id="javaKeyStore" location="${java.home}/lib/security/cacerts" password="changeit" />
    <ssl id="mySSLConfig" trustStoreRef="javaKeyStore" keyStoreRef="defaultKeyStore" />

    <bluemixLogCollector
        source="message,trace,garbageCollection,ffdc,accessLog" 
        hostName="logs.opvis.bluemix.net" 
        port="9091" 
        tenant="your_logmet_space_Id"
        password="your_logmet_logging_token"
        sslRef="mySSLConfig"
    />
    -->
  <remoteFileAccess>
    <writeDir>${server.config.dir}</writeDir>
  </remoteFileAccess>
  <!-- This is sample configuration for the logstashCollector-1.1 feature -->
  <!-- 
    <logstashCollector sslRef="testSSLConfig" hostName="localhost" port="46000" >
        <source>accesslog</source>
        <source>message</source>
        <source>logs</source>
        <source>ffdc </source>
        <source>trace</source> 
        <source>garbageCollection</source>
    </logstashCollector>
    -->
  <!-- This is sample configuration for the hybridConnect-1.0 feature -->
  <!-- 
    <keyStore id="hybridConnectKeyStore" location="digicert.jks" type="JKS"/>
    <keyStore id="hybridConnectTrustStore" location="digicert.jks" type="JKS"/>

    <ssl id="hybridConnectSSL"
         keyStoreRef="hybridConnectKeyStore"
         trustStoreRef="hybridConnectTrustStore"
         sslProtocol="TLSv1.2"/>

    <hybridConnect host="hybridconnect-demo.stage1.mybluemix.net" port="443" apiKey="<from Bluemix Hybrid Connect service>" sslRef="hybridConnectSSL"/>
    -->
  <keyStore id="defaultKeyStore" password="Liberty" />
  <application id="lab_service_war_exploded" location="D:\Workbench\Workspace\Projects\GitHub\out\artifacts\lab_service_war_exploded" name="lab_service_war_exploded" type="war" context-root="/" />
</server>

