<suite name="Suite Customized Test" verbose="1">
    <test name="Optional Testing">
        <classes>
            <class name="edu.mit.lab.service.FileRequestImplTest">
                <methods>
                    <exclude name="testAllFileService"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>